
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

#footerwrap{
display:none;
}
body{
background-color:#1f1f1f;

}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 260px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */



	#register-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  margin-bottom: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: white;
  text-align: center;
}

#register-form {
  margin: 0 auto;
  width: 350px;
}
#register-form .control-inline {
  display: inline-block;
}
#register-form legend {
  margin-bottom: 15px;
  border-bottom: none;
}
#register-form input.input-huge {
  width: 318px;
}
#register-form .control-group {
  margin-bottom: 0;
}
#register-form .checkbox.inline {
  margin-bottom: 10px;
  padding: 0;
  font-size: 98%;
}
#register-form .checkbox.inline input {
  margin-right: 10px;
}
#register-form .body {
  overflow-y: auto;
  height: auto;
}
#register-form .btn {
  padding: 10px 40px;
  background-image: none;
  box-shadow: none;
}

.register-info-wraper {
  background: rgba(0, 0, 0, 0.2);
}

#register-info {
  position: relative;
  margin-top:25px;
  padding: 0px;
  padding-top:10px;
}
#register-info ul {
  margin-right: 25px;
}
#register-info ul li {
  margin-bottom: 25px;
}


/* login form */
.login-form legend {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* register form */
#register-form legend {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}
#register-form label {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: 300;
}

/* register info */
#register-info h1 {
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  line-height: 55px;
  font-weight: 700;
  text-align: right;
  padding-bottom: 50px;
  color: white;
}


#register-info h2 {
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	color:#fff;
	font-weight: 300;
}

#register-info ul {
  text-align: right;
  color: white;
  font-size: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#register-info hr {
  	border: 0;
  	border-top: 1px solid silver;
  	border-top-style: dashed;
	margin-top:3px;
}

.cont2 {
	text-align:center;
	margin-top:8px;
}

.cont3 {
	text-align:left;
	margin-left:8px;
	color:#bdbdbd;
}

.cont3 ok {
	color:#b2c831;
}

.info-user2 {
	text-align:center;
	font-size: 32px;
	color: #b2c831;
	padding-bottom:58px;
	}

.fs1 {
	padding:5px 5px 5px 5px;
	position:relative;
}

.fs1:hover {
	position:relative;
	color: #fff;
	cursor:pointer
}




/* LOGIN PAGE CONFIGURATION  */





@media (max-width: 980px) {

  #login-wraper {
    position: relative;
    top: 0;
    margin-top: 25px;
  }
}
@media (max-width: 495px) {
  #login-wraper {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }

  #register-form {
    width: auto;
  }
  #register-form .control-inline {
    display: block;
  }
  #register-form input {
    display: block;
    margin: 0 auto;
  }
  #register-form input.input-huge, #register-form input.input-medium {
    width: auto;
    display: block;
  }
  #register-form .btn {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 979px) {
  body {
    padding-top: 80px;
  }
}




</style>

<button class="btn btn-success" ui-sref="user" >ADD NEW PROFILE</button>
<br/><br/>
<table id="customers">
    <tr>
        <th>firstName</th>
        <th>lastName</th>
        <th>lastName</th>
        <th>email</th>
        <th>password</th>
        <th>action</th>
    </tr>
    <tr ng-repeat="profile in  profileList">
        <td style="color:dodgerblue;">{{profile.firstName}}</td>
        <td style="color:dodgerblue;">{{profile.lastName}}</td>
        <td style="color:dodgerblue;">{{profile.userName}}</td>
        <td style="color:dodgerblue;">{{profile.email}}</td>
        <td style="color:dodgerblue;">{{profile.password}}</td>
        <td>
            <button class="btn btn-info" ui-sref="useredit({userId:profile._id})" >edit</button>
            <button class="btn btn-danger" ng-click="deleteProfile(profile._id);" >delete</button>
            <button class="btn btn-success" ui-sref="imagecapture" >capture</button>
        </td>
    </tr>
</table>
<div class="container" style="margin-left:320px;">
    <div class="row">

        <div class="col-lg-6">

            <div class="register-info-wraper">
                <div id="register-info">
                    <div class="cont2">
                        <div class="thumbnail" style="background-color: black;border-color: black;">
                            <img src="images/face.jpg" alt="Marcel Newman" class="img-circle">
                        </div><!-- /thumbnail -->
                        <h2>Marcel Newman</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="cont3">
                                <p><ok>Username:</ok> BASICOH</p>
                                <p><ok>Mail:</ok> hola@basicoh.com</p>
                                <p><ok>Location:</ok> Madrid, Spain</p>
                                <p><ok>Address:</ok> Blahblah Ave. 879</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="cont3">
                                <p><ok>Registered:</ok> April 9, 2010</p>
                                <p><ok>Last Login:</ok> January 29, 2013</p>
                                <p><ok>Phone:</ok> +34 619 663553</p>
                                <p><ok>Mobile</ok> +34 603 093384</p>
                                <button ui-sref="imagecapture" class="button">capture</button>
                            </div>
                        </div>
                    </div><!-- /inner row -->
                    <hr>
                    <div class="cont2">
                        <h2>Choose Your Option</h2>
                    </div>
                    <br>
                    <div class="info-user2">
                        <span aria-hidden="true" class="li_user fs1"></span>
                        <span aria-hidden="true" class="li_settings fs1"></span>
                        <span aria-hidden="true" class="li_mail fs1"></span>
                        <span aria-hidden="true" class="li_key fs1"></span>
                        <span aria-hidden="true" class="li_lock fs1"></span>
                        <span aria-hidden="true" class="li_pen fs1"></span>
                    </div>


                </div>
            </div>

        </div>

        <!--<div class="col-sm-6 col-lg-6">
            <div id="register-wraper">
                <form id="register-form" class="form">
                    <legend>User Register</legend>

                    <div class="body">
                        &lt;!&ndash; first name &ndash;&gt;
                        <label for="name">First name</label>
                        <input name="name" class="input-huge" type="text">
                        &lt;!&ndash; last name &ndash;&gt;
                        <label for="surname">Last name</label>
                        <input name="surname" class="input-huge" type="text">
                        &lt;!&ndash; username &ndash;&gt;
                        <label>Username</label>
                        <input class="input-huge" type="text">
                        &lt;!&ndash; email &ndash;&gt;
                        <label>E-mail</label>
                        <input class="input-huge" type="text">
                        &lt;!&ndash; password &ndash;&gt;
                        <label>Password</label>
                        <input class="input-huge" type="text">

                    </div>

                    <div class="footer">
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> I agree with the terms &amp; conditions
                        </label>
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </form>
            </div>
        </div>-->

    </div>
</div>
