<style>

   body {
	background-color:#1f1f1f;
     }

#footerwrap{
display:none;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 260px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */







        img#foto-1:hover{

            width:320px;
            z-index: 2;
        }
        img#foto-2:hover{

        width:310px;
        -webkit-transform: rotate(0);

        }
        img#foto-3:hover{

             width:310px;
        -webkit-transform: rotate(0);
        }

           img#foto-1{

               position: absolute;
               left: 50%;
               margin-left: -150px;
               margin-top: 60px;
           }
        img#foto-2{

            position: absolute;
            margin-left: 300px;
            top: 100px;


        -webkit-transform:rotate(-10deg);

        }

        img#foto-3{

            position: absolute;
            right: 300px;
            top: 100px;
            -webkit-transform: rotate(10deg);
        }




</style>



<div>
    <img id="foto-1" src="images/imaag1.jpg">
    <button style="margin-left:435px;" class="button">detect face</button>
</div>








