<style>

   body {
	background-color:#1f1f1f;
     }

#footerwrap{
display:none;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 260px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */


</style>





<div>
    <h2 style="color:white;margin-left: 415px">Please upload the image </h2>
    <button  style="margin-left: 500px; ;" ui-sref="uploaded"  class="button">upload image</button>
</div>